{layout name="public" /}
<link rel="stylesheet" type="text/css" href="/static/index/css/coin_dx.css"/>


{neq name="user" value="admin"}
<!-- 代后台-发送 -->
<div id="list_2">
	<h5>金币发送</h5>
	<div><span>金币数量：</span><select>
		{volist name="sq_sy" id="v"}
		<option value="{$v.id}">{$v.coin}金币　剩{$v.sy}/总{$v.sq}</option>
		{/volist}
	</select></div>
	<div><span>游戏ID：</span><textarea placeholder="放入多个游戏ID时，每个游戏ID独占一行"></textarea></div>
	<button>发送</button>
</div>
{/neq}





<!-- 总、代后台-发送记录 -->
<div id="list_3">
	<h5>发送记录</h5>
	
	{eq name="user" value="admin"}
	<div id="admin">
		<ol>
			<li>#</li>
			<li>代理ID</li>
			<li>玩家ID</li>
			<li>金币量</li>
			<li>发送时间</li>
		</ol>
		<ul>
			{volist name="list" id="v"}
			<li>
				<span>{$i}</span>
				<span>{$v.AgentID}</span>
				<span>{$v.UserID}</span>
				<span>{$v.Coin}</span>
				<span>{$v.time}</span>
			</li>
			{/volist}
		</ul>
	</div>
	{/eq}

	{neq name="user" value="admin"}
	<div id="agent">
		<ol>
			<li>#</li>
			<li>玩家ID</li>
			<li>金币量</li>
			<li>发送时间</li>
		</ol>
		<ul>
			{volist name="list" id="v"}
			<li>
				<span>{$i}</span>
				<span>{$v.UserID}</span>
				<span>{$v.Coin}</span>
				<span>{$v.time}</span>
			</li>
			{/volist}
		</ul>
	</div>
	{/neq}
	
	{$list->render()}
</div>



{neq name="user" value="admin"}
<script type="text/javascript">
var user='{$user}';
</script>
<script type="text/javascript" src="/static/index/js/coin_dx_agent.js"></script>
{/neq}


{eq name="user" value="admin"}
<script type="text/javascript" src="/static/index/js/coin_dx_admin.js"></script>
{/eq}