{layout name="public" /}
<link rel="stylesheet" type="text/css" href="/static/index/css/zhuanyi.css"/>

<div class="list">
	<h5>账号转移</h5>
	<div><span>转移类型：</span><select name="type">
		<option value="dl">代理-代理</option>
		<option value="wj">代理-玩家</option>
	</select></div>
	<div><span>上级ID：</span><input type="text" name="s_id" placeholder="必须是代理ID"></div>
	<div><span>下级ID：</span><input type="text" name="x_id" placeholder="下级需要挂靠的ID"></div>
	<button>转移</button>
</div>
<script type="text/javascript" src="/static/index/js/zhuanyi.js"></script>