<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="/static/public/css/res.css"/>
	<link rel="stylesheet" type="text/css" href="/static/login/css/login.css"/>
	<link rel="stylesheet" type="text/css" href="/static/public/awesome/css/font-awesome.min.css"/>

	<script type="text/javascript" src="/static/public/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<div id="login">
		<div class="login_1">
			<input type="text" name="name" placeholder="用户名">
			<i class="fa fa-user"></i>
		</div>
		<div class="login_1">
			<input type="password" name="pwd" placeholder="密　码">
			<i class="fa fa-unlock-alt"></i>
		</div>
		<div class="login_2">
			<input type="text" name="yzm" placeholder="验证码">
			<img src="./yzm.html">
		</div>
		<span class="login_3">开始登陆</span>
	</div>

	<script type="text/javascript" src="/static/login/js/login.js"></script>
</body>
</html>