<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<link rel="stylesheet" type="text/css" href="/static/public/css/res.css"/>
	<!-- <link rel="stylesheet" type="text/css" href="/static/login/css/login.css"/> -->
	<!-- <link rel="stylesheet" type="text/css" href="/static/public/awesome/css/font-awesome.min.css"/> -->

	<script type="text/javascript" src="/static/public/js/jquery-1.11.0.min.js"></script>
</head>
<body>
	<textarea></textarea>
	<span>ggggggggg</span>
	
	<script type="text/javascript">
	$(function(){
		$('span').click(function(){
			var v1=$('textarea').val().split("\n");
			
			// v2 = v1.replace("\n","；");
			console.log(v1);
			// console.log(v2);
		});
	});
	</script>
</body>
</html>